* {
  margin: 0;
  padding: 0;
}

html {
  height: -webkit-fill-available;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  min-height: -webkit-fill-available;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  overflow-x: clip;
  position: relative;
}

.header__inner {
  display: flex;
  justify-content: center;
  height: 75px;
  background-color: #222;
  gap: 54%;
}
.header__inner .header__logo {
  display: flex;
  gap: 41px;
}
.header__inner .header__logo .header__img {
  display: flex;
  align-items: center;
}
.header__inner .header__nav {
  display: flex;
  align-items: center;
}
.header__inner .header__nav .nav {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 33px;
}
.header__inner .menu__nav {
  width: 232px;
  background: #FFF;
  position: absolute;
  top: 75px;
  right: -232px;
  transition: right 1s;
  z-index: 1;
}
.header__inner .menu__nav .menu__nav__content {
  padding: 32px;
}
.header__inner .menu__nav .menu__nav__content .menu__nav__title {
  padding-bottom: 24px;
  color: black;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header__inner .menu__nav .menu__nav__content .man__woman__kids {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search {
  padding-top: 27px;
}

.menu {
  cursor: pointer;
}

#nav__toggle:checked ~ .menu__nav {
  right: 0;
}

.menu__nav__title__link {
  text-decoration: none;
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu__nav__links {
  list-style: none;
  padding-top: 12px;
  padding-left: 22px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.n__l {
  text-decoration: none;
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.n__l:hover {
  color: #F16D7F;
}

.page__nav {
  height: 148px;
  background-color: #F8F3F4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 46%;
}
.page__nav .current__page {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 194px;
}
.page__nav .page__nav__current {
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.page__nav .page__nav__current .current {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.page__nav .page__nav__current a {
  text-decoration: none;
  color: #636363;
}

.description {
  background-color: #F7F7F7;
  height: 773px;
  border: solid 1px;
  border-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.description .description__img {
  position: absolute;
  top: 0;
  margin-top: 11px;
}
.description .description__arrows {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.description .description__arrows .arrow__left {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}
.description .description__arrows .arrow__left:hover {
  cursor: pointer;
}
.description .description__arrows .arrow__left:hover path {
  fill: #F16D7F;
}
.description .description__arrows .arrow__right {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}
.description .description__arrows .arrow__right:hover {
  cursor: pointer;
}
.description .description__arrows .arrow__right:hover path {
  fill: #F16D7F;
}

.collections {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -4%;
  margin-bottom: 128px;
}
.collections .collections__description {
  height: 599px;
  border: solid 1px;
  border-color: #EAEAEA;
  width: 71.1%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.collections .collections__description .collection__main__title {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 12px;
}
.collections .collections__description .devider {
  width: 63px;
  height: 3px;
  background-color: #EF5B70;
  margin-bottom: 12px;
}
.collections .collections__description .collection__title {
  color: #4D4D4D;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 48.5px;
}
.collections .collections__description .collection__subtitle {
  width: 554px;
  text-align: center;
  color: #5E5E5E;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 32px;
}
.collections .collections__description .price {
  color: #EF5B70;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 65px;
}
.collections .collections__description .long__devider {
  width: 641px;
  height: 1px;
  background-color: #EAEAEA;
  margin-bottom: 65px;
}
.collections .collections__description .choose__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6%;
  width: 374px;
  padding-bottom: 48.5px;
}
.collections .collections__description .choose__menu .choose__option {
  display: flex;
  align-items: center;
  gap: 9px;
}
.collections .collections__description .choose__menu .choose__option .choose__text {
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.collections .collections__description .choose__menu .choose__option:hover {
  cursor: pointer;
}
.collections .collections__description .choose__menu .choose__option:hover path {
  fill: #F16D7F;
}
.collections .collections__description .collection__button .buy__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 212px;
  height: 48px;
  border-color: #FF6A6A;
  font-family: "Lato", sans-serif;
  color: #F26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  background: white;
  border-style: solid;
  gap: 23px;
}
.collections .collections__description .collection__button .buy__button path {
  fill: #F26376;
}
.collections .collections__description .collection__button .buy__button:hover {
  color: white;
  background: #F16D7F;
  transition: background-color 1s linear;
}
.collections .collections__description .collection__button .buy__button:active {
  color: white;
  background: #F16D7F;
  transform: scale(0.95);
}
.collections .collections__description .collection__button .buy__button:hover path {
  fill: white;
}
.collections .collections__description .collection__button .buy__button:active path {
  fill: white;
}

.featured__items__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 48px;
}
.featured__items__text .featured__items__title {
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.featured__items__text .featured__items__subtitle {
  color: #9F9F9F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.items {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  margin-bottom: 128px;
}
.items .items__wrap {
  display: flex;
  gap: 2.6%;
  justify-content: center;
}
.items .items__wrap .item {
  width: 31.6%;
}
.items .items__wrap .item .item__img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items .items__wrap .item .item__img .img__hover {
  width: 100%;
}
.items .items__wrap .item .item__description {
  background-color: #F8F8F8;
}
.items .items__wrap .item .item__description .item__desc__info {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.items .items__wrap .item .item__description .item__desc__info .item__title {
  color: black;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.items .items__wrap .item .item__description .item__desc__info .item__subtitle {
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 91.6%;
}
.items .items__wrap .item .item__description .item__desc__info .item__price {
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@keyframes fadein {
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.items .items__wrap .item:hover .hov__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  animation-name: fadein;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
.items .items__wrap .item:hover .img__hover {
  filter: brightness(35%);
  transition: 1s;
}
.items .items__wrap .item:hover .temp {
  opacity: 0.35;
  transition: 1s;
}

.hov__button {
  position: absolute;
  display: none;
  width: 139px;
  height: 44px;
  border-style: solid;
  cursor: pointer;
  border-color: white;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Lato", sans-serif;
  background-color: transparent;
  opacity: 0;
}
.hov__button:active {
  transform: scale(0.95);
}

.reviews__items {
  position: relative;
  display: flex;
}
.reviews__items .rev__back {
  opacity: 30%;
  width: 100%;
}
.reviews__items .rev__item {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 223px;
}
.reviews__items .rev__item .feedback {
  padding-top: 97px;
  width: 360px;
}
.reviews__items .rev__item .feedback .user__photo {
  padding-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.reviews__items .rev__item .feedback .feedback__text {
  text-align: center;
  color: #222224;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.reviews__items .rev__item .feedback .feedback__text .text__ital {
  font-style: italic;
}
.reviews__items .rev__item .subscribe {
  width: 557px;
  padding-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.reviews__items .rev__item .subscribe .subscribe__text .sub__title {
  color: #222224;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}
.reviews__items .rev__item .subscribe .subscribe__text .sub__subtitle {
  color: #222224;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}
.reviews__items .rev__item .subscribe .review__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 49px;
  width: 356px;
  background-color: #E1E1E1;
  border-radius: 25px;
}
.reviews__items .rev__item .subscribe .review__btn .input__subscribe {
  padding-left: 22px;
}
.reviews__items .rev__item .subscribe .review__btn .input__subscribe .sub__text {
  background-color: #E1E1E1;
  border: none;
  outline: none;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 170px;
  height: 36px;
}
.reviews__items .rev__item .subscribe .review__btn .subscribe__button .sub__button {
  width: 100px;
  height: 49px;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  font-family: "Lato", sans-serif;
  background: #F16D7F;
  cursor: pointer;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.reviews__items .rev__item .subscribe .review__btn .subscribe__button .sub__button:hover {
  background: #E05C6E;
  transition: background-color 0.5s linear;
}
.reviews__items .rev__item .subscribe .review__btn .subscribe__button .sub__button:active {
  background: #E05C6E;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

input::-webkit-input-placeholder {
  color: #222224;
}

.footer__inner {
  height: 79px;
  background-color: #222224;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 655px;
}
.footer__inner .rights {
  width: 332px;
  color: #FBFBFB;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__inner .social__links .links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 7px;
}

.link {
  width: 32px;
  height: 32px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link:hover {
  background-color: #F16D7F;
  transition: background-color 1s linear;
}
.link:hover path {
  fill: white;
}

@media (max-width: 1024px) {
  .header__inner {
    height: 74px;
    gap: 55%;
  }
  .page__nav {
    gap: 43.4%;
  }
  .description {
    height: 622px;
  }
  .description .description__img {
    margin-top: 30px;
  }
  .description .description__img .descr__img {
    width: 466px;
    height: 565px;
  }
  .collections {
    position: initial;
    margin-top: 0;
  }
  .collections .collections__description {
    width: 100%;
  }
  .items .items__wrap {
    gap: 2%;
  }
  .items .items__wrap .item {
    width: 360px;
  }
  .items .items__wrap .item .item__img {
    width: auto;
  }
  .items .items__wrap .item .item__img .img__hover {
    width: auto;
  }
  .items .items__wrap .item:last-child {
    display: none;
  }
  .reviews__items {
    width: 100%;
    height: 614px;
  }
  .reviews__items .rev__back {
    width: auto;
    height: 693px;
    margin: 0 -420px;
  }
  .reviews__items .rev__item {
    flex-direction: column;
    align-items: center;
    gap: 75px;
  }
  .reviews__items .rev__item .feedback {
    padding-top: 64px;
  }
  .reviews__items .rev__item .subscribe {
    padding-top: 0;
    gap: 27px;
  }
  .reviews__items .rev__item .subscribe .subscribe__text .sub__title {
    line-height: 162%;
  }
  .reviews__items .rev__item .subscribe .subscribe__text .sub__subtitle {
    line-height: 162%;
  }
  .footer__inner {
    gap: 305px;
  }
  .footer__inner .rights {
    width: 251px;
  }
}
@media (max-width: 767px) {
  .header__inner {
    gap: 53%;
  }
  .login {
    display: none;
  }
  .basket {
    display: none;
  }
  .page__nav {
    flex-direction: column;
    gap: 21.6%;
    justify-content: initial;
  }
  .page__nav .current__page {
    width: auto;
    padding-top: 24px;
  }
  .description .description__img {
    margin-top: 85px;
  }
  .description .description__img .descr__img {
    width: 373px;
    height: 454px;
  }
  .description__arrows {
    position: absolute;
  }
  .collections {
    margin-bottom: 65px;
  }
  .collections .collections__description .collection__title {
    padding-bottom: 32px;
  }
  .collections .collections__description .collection__subtitle {
    width: 326px;
  }
  .collections .collections__description .price {
    padding-bottom: 32px;
  }
  .collections .collections__description .long__devider {
    width: 175px;
    margin-bottom: 50px;
  }
  .collections .collections__description .choose__menu {
    width: 304px;
    padding-bottom: 64px;
  }
  .collections .collections__description .choose__menu .choose__option .choose__text {
    font-size: 10px;
  }
  .items {
    margin-bottom: 64px;
  }
  .items .items__wrap {
    flex-wrap: wrap;
    gap: 7%;
  }
  .reviews__items {
    height: 550px;
  }
  .reviews__items .rev__item {
    gap: 59px;
  }
  .reviews__items .rev__item .subscribe {
    gap: 22px;
  }
  .reviews__items .rev__item .subscribe .review__btn {
    width: 341px;
    height: 47px;
  }
  .reviews__items .rev__item .subscribe .review__btn .subscribe__button .sub__button {
    width: 96px;
    height: 47px;
  }
  .reviews__items .rev__item .subscribe .subscribe__text .sub__title {
    line-height: 153%;
  }
  .reviews__items .rev__item .subscribe .subscribe__text .sub__subtitle {
    font-size: 14px;
    line-height: 153%;
  }
  .reviews__items .rev__item .feedback .feedback__text {
    font-size: 18px;
  }
  .reviews__items .rev__item .feedback .feedback__text .text__ital {
    font-size: 18px;
  }
  .reviews__items .rev__back {
    width: auto;
    height: 550px;
    margin: 0 -420px;
  }
  .footer__inner {
    flex-direction: column-reverse;
    gap: 40px;
    height: 143px;
    justify-content: normal;
  }
  .footer__inner .rights {
    padding-bottom: 24px;
  }
}/*# sourceMappingURL=style.css.map */