@media (max-width: 767px) {

    .header__inner {
        gap: 53%;
    }

    .login {
        display: none;
    }

    .basket {
        display: none;
    }

    .page__nav {
        margin-bottom: 39px;
        justify-content: center;

        .current__page {
            padding-left: initial;
            width: auto;
        }
    }
    
    .description__cart {
        gap: 48px;
        margin-bottom: 96px;

        &__products {
            width: 360px;
    
            &-items {
                margin-bottom: 30px;

                &-item {
                    img {
                        width: 144px;
                        height: 188px;
                    }

                    &-info {
                        padding-top: 14px;

                        h1 {
                            font-size: 16px;
                            padding-bottom: 26px;
                        }

                        h3:not(:last-child) {
                            padding-bottom: 4px;
                        }

                        h3 {
                            font-size: 14px;

                            input {
                                width: 13px;
                                height: 13px;
                                padding-left: 9px;
                                font-size: 10px;
                            }
                        }
                    }

                    button {
                        position: absolute;
                        top: 17px;
                        right: 12px;
                        height: 10px;
        
                        svg {
                            width: 10px;
                            height: 10px;
                        }
                    }
                }
            }
    
            &-buttons {
                justify-content: center;
                gap: 9px;

                button {
                    width: 175px;
                    height: 33px;
                    font-size: 12px;
                    text-transform: capitalize;
                }

                button:last-child {
                    width: 175px;
                    height: 33px;
                }
            }
        }

        &__purchase {
            flex-direction: column;
            width: 360px;
            gap: 48px;

            form {
                button {
                    text-transform: capitalize;
                }
            }

            &-payment {
                margin-top: auto;
            }
        }
    }

    .reviews__items {
        height: 550px;

        .rev__item {
            gap: 59px;

            .subscribe {
                gap: 22px;

                .review__btn {
                    width: 341px;
                    height: 47px;

                    .subscribe__button {

                        .sub__button {
                            width: 96px;
                            height: 47px;
                        }
                    }
                }

                .subscribe__text {

                    .sub__title {
                        line-height: 153%;
                    }

                    .sub__subtitle {
                        font-size: 14px;
                        line-height: 153%;
                    }
                }
            }

            .feedback {

                .feedback__text {
                    font-size: 18px;

                    .text__ital {
                        font-size: 18px;
                    }
                }
            }
        }

        .rev__back {
            height: 550px;
        }
    }

    .footer__inner {
        flex-direction: column-reverse;
        gap: 25px;
        height: 143px;
        justify-content: normal;

        .rights {
            padding-bottom: 24px;
        }
    }
}