@media (max-width: 1024px) {

    .header__inner {
        height: 74px;
        gap: 55%;
    }

    .page__nav {
        gap: 43.4%;
    }

    .sort__filter__items {
        width: 736px;
        gap: 80px;

        .filter__item {
            height: 81px;

            .filter {
                top: 11px;
            }
        }

        .sort {
            padding-top: 24px;

            .sort__items:first-child {
                width: 132px;
            }
        }
    }

    .items {
        margin-bottom: 41px;
        
        .items__wrap {
            grid-gap: 16px;

            .item:last-child {
                display: none;
            }
        }
    }

    .pagination {
        margin-bottom: 64px;
    }

    .features__items {
        flex-direction: column;
        gap: 49px;

        .feature {
            padding: 0;
        }

        .feature:first-child {
            padding-top: 48px;
        }

        .feature:last-child {
            padding-bottom: 64px;
        }
    }

    .reviews__items {
        width: 100%;
        height: 614px;

        .rev__back {
            width: auto;
            height: 693px;
            margin: 0 -420px;
        }

        .rev__item {
            flex-direction: column;
            align-items: center;
            gap: 75px;

            .feedback {
                padding-top: 64px;
            }

            .subscribe {
                padding-top: 0;
                gap: 27px;

                .subscribe__text {

                    .sub__title {
                        line-height: 162%;
                    }

                    .sub__subtitle {
                        line-height: 162%;
                    }
                }
            }
        }
    }

    .footer__inner {
        gap: 305px;

        .rights {
            width: 251px;
        }
    }
}