@import 'vars';

@mixin font ($color, $font-size, $font-weight) {
    color: $color;
    font-size: $font-size;
    font-style: normal;
    font-weight: $font-weight;
    line-height: normal;
}

@mixin justify_center () {
    display: flex;
    justify-content: center;
}

@mixin align_center () {
    display: flex;
    align-items: center;
}

@mixin justify_align_center () {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin products_items ($width, $height) {
    width: $width;
    height: $height;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}