* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: center;
    height: 75px;
    background-color: #222;
    gap: 54%;
}

.header__logo {
    display: flex;
    gap: 41px;
}

.search {
    padding-top: 27px;
}

.header__img {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 33px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.description {
    background-color:#F1E4E6;
    display: flex;
    height: 100%;
    margin-bottom: 65px;
}

.description__img {
    display:flex;
    width: 50%;
    padding-right: 4%;
}

.descr__img {
    width: 100%;
    height: 100%;
}

.description__text {
    width: 405px;
    height: 93px;
    display: flex;
    gap: 16px;
    padding-top: 18.1%;
}

.rect {
    width: 12px;
    height: 93px;
    background-color:#F16D7F;
}

.main__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.lux {
    color: #222;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fashion {
    color: #F16D7F;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.products__little__one {
    width: 360px;
    height: 260px;
    background: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(img/Layer\ 43.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products__little__two {
    width: 360px;
    height: 260px;
    background: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(img/Rectangle\ 30.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products__little__three {
    width: 360px;
    height: 260px;
    background: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(img/Rectangle\ 31.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prod__text {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.prod__span {
    color: #F16D7F;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.products__big {
    width: 1140px;
    height: 180px;
    background: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(img/Rectangle\ 20.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: span 3;
}

.products {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    /* display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-columns: repeat(3, 360px); */
    margin-bottom: 96px;
}

.prod__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.featured__items__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 48px;
}

.featured__items__title {
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.featured__items__subtitle {
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item {
    width: 360px;
}

.item__img {
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item__img__2 {
    height: 420px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.temp {
    width: 360px;
    height: 420px;
    background-color: #F7E4E2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item__description {
    background-color: #F8F8F8;
}

.item__desc__info {
    display: flex;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.item__title {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item__subtitle {
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 315px;
}

.item__price {
    color: #F16D7F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.items {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    margin-bottom: 48px;    
}

.items__wrap {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);    
}

.hov__button {
    position: absolute;
    display: none;
    width: 139px;
    height: 44px;
    border-style: solid;
    cursor: pointer;
    border-color: #FFFFFF;
    color: #FFF;
    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    opacity: 0;
}

.hov__button:active {
    transform: scale(0.95);
}

@keyframes fadein {
    1% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.item:hover .hov__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.item:hover .img__hover {
    filter: brightness(35%);
    transition: 1s;
}

.item:hover .temp {
    opacity: 0.35;
    transition: 1s;
}

.items__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.button {
    width: 212px;
    height: 48px;
    border-color: #FF6A6A;
    color: #F26376;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    background: #FFFFFF;
    border-style: solid;
}

.button:active {
    transform: scale(0.95);
}

@media (max-width: 1024px) {

    .header__inner {
        height: 74px;
        gap: 55%;
    }

    .title {
        font-size: 44px;
        font-weight: 900;
    }
    
    .lux {   
        font-size: 24px;
        font-weight: 700;
    }
    
    .fashion {
        font-size: 24px;
        font-weight: 700;
    }

    .rect {
        height: 92px;
    }

    .description__text {
        width: 311px;
        height: 92px;
        display: flex;
    }

    .description__img {
        padding-right: 5%;
    }

    .products__little__one {
        width: 232px;
        height: 168px;
    }
    
    .products__little__two {
        width: 232px;
        height: 168px;
    }
    
    .products__little__three {
        width: 232px;
        height: 168px;
    }

    .products__big {
        width: 735px;
        height: 116px;
    }

    .products {
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
        /* gap: 19px;
        grid-template-columns: repeat(3, 232px); */
        margin-bottom: 110px;
    }

    .prod__items {
        grid-gap: 19px;

    }

    .featured__items__text {
        gap: 3.3px;
        margin-bottom: 73px;
    }

    .items {
        padding-left: calc(50% - 368px);
        padding-right: calc(50% - 368px);
        margin-bottom: 33px;
    }

    .items__wrap {
        grid-gap: 16px;
        grid-template-columns: repeat(2, 1fr);
    }

    .items__button {
        margin-bottom: 70px;
    }

}