@import './helper/vars.scss';
@import './helper/mixins';

* {
    margin: 0;
    padding: 0;
}

html {
    height: -webkit-fill-available;
}

body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    min-height: -webkit-fill-available;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    overflow-x: clip;
    position: relative;
}

.header__inner {
    @include justify_center ();
    height: 75px;
    background-color: #222;
    gap: 54%;

    .header__logo {
        display: flex;
        gap: 41px;
    
        .header__img {
            @include align_center ();
        }
    }

    .header__nav {
        @include align_center ();
    
        .nav {
            @include align_center ();
            list-style: none;
            gap: 33px;
        }
    }

    .menu__nav {
        width: 232px;
        background: #FFF;
        position: absolute;
        top: 75px;
        right: -232px;
        transition: right 1s;
        z-index: 1;
    
        .menu__nav__content {
            padding: 32px;
    
            .menu__nav__title {
                padding-bottom: 24px;
                @include font (black, 14px, 700);
            }
    
            .man__woman__kids {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
        }
    }
}

.search {
    padding-top: 27px;
}

.menu {
    cursor: pointer;
}

#nav__toggle:checked ~ .menu__nav {
    right: 0;
}

.menu__nav__title__link {
    text-decoration: none;
    @include font ($pink, 14px, 400);
}

.menu__nav__links {
    list-style: none;
    padding-top: 12px;
    padding-left: 22px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.n__l {
    text-decoration: none;
    @include font (#6F6E6E, 14px, 400);

    &:hover {
        color: $pink;
    }
}

.description {
    background-color:#F1E4E6;
    display: flex;
    height: 100%;
    margin-bottom: 65px;

    .description__img {
        display:flex;
        width: 50%;
        padding-right: 4%;

        .descr__img {
            width: 100%;
            height: 100%;
        }
    }

    .description__text {
        width: 405px;
        height: 93px;
        display: flex;
        gap: 16px;
        padding-top: 18.1%;

        .rect {
            width: 12px;
            height: 93px;
            background-color: $pink;
        }
        
        .main__title {
            @include justify_center ();
            flex-direction: column;

            .title {
                @include font (#222, 48px, 900);
            }
            
            .lux {
                @include font (#222, 32px, 700);

                .fashion {
                    @include font ($pink, 32px, 700);
                }
            }
        }
    }
}

.products {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    margin-bottom: 96px;

    .prod__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;

        .products__little__one {
            @include products_items (100%, 260px);
            background: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(img/Layer_43.png);
            background-size: cover;
            background-position: center;
        }
        
        .products__little__two {
            @include products_items (100%, 260px);
            background: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(img/Rectangle_30.png);
            background-size: cover;
            background-position: center;
        }
        
        .products__little__three {
            @include products_items (100%, 260px);
            background: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(img/Rectangle_31.png);
            background-size: cover;
            background-position: center;
        }

        .products__big {
            @include products_items (100%, 180px);
            background: linear-gradient(rgba(33, 22, 22, 0.70), rgba(33, 22, 22, 0.70)), url(img/Rectangle_20.png);
            grid-column-start: span 3;
            background-size: cover;
            background-position: center;
        }
    }
}

.prod__text {
    @include font (white, 16px, 400);
    @include justify_center ();
}

.prod__span {
    @include font ($pink, 24px, 700);
    @include justify_center ();
}

.featured__items__text {
    @include justify_align_center ();
    flex-direction: column;
    gap: 6px;
    margin-bottom: 48px;

    .featured__items__title {
        @include font (#222, 30px, 400);
    }
    
    .featured__items__subtitle {
        @include font (#9F9F9F, 14px, 400);
    }
}

.items {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
    margin-bottom: 48px;
    
    .items__wrap {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit, 360px);
        justify-content: center;
        
        .item {
            width: 360px;

            .item__img {
                height: 420px;
                @include justify_align_center ();
            }
            
            .item__img__2 {
                height: 420px;
                background-color: black;
                @include justify_align_center ();

                .temp {
                    width: 360px;
                    height: 420px;
                    background-color: #F7E4E2;
                    @include justify_align_center ();
                }
            }

            .item__description {
                background-color: #F8F8F8;

                .item__desc__info {
                    @include justify_center ();
                    padding-top: 25px;
                    padding-bottom: 20px;
                    padding-left: 16px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 16px;

                    .item__title {
                        @include font (black, 13px, 400);
                    }
                    
                    .item__subtitle {
                        @include font (#5D5D5D, 14px, 300);
                        width: 315px;
                    }
                    
                    .item__price {
                        @include font ($pink, 16px, 400);
                    }
                }
            }

            @keyframes fadein {
                1% {
                    opacity: 0;
                }
            
                100% {
                    opacity: 1;
                }
            }

            &:hover {
                .hov__button {
                    @include justify_align_center ();
                    gap: 11px;
                    animation-name: fadein;
                    animation-duration: 1.5s;
                    animation-fill-mode: forwards;
                }
            }

            &:hover {
                .img__hover {
                    filter: brightness(35%);
                    transition: 1s;
                }
            }

            &:hover {
                .temp {
                    opacity: 0.35;
                    transition: 1s;
                }
            }
        }
    }
}

.hov__button {
    position: absolute;
    display: none;
    width: 139px;
    height: 44px;
    border-style: solid;
    cursor: pointer;
    border-color: white;
    @include font (white, 14px, 400);
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    opacity: 0;

    &:active {
        transform: scale(0.95);
    }
}

.items__button {
    @include justify_align_center ();
    margin-bottom: 95px;

    .button {
        width: 212px;
        height: 48px;
        border-color: #FF6A6A;
        font-family: 'Lato', sans-serif;
        @include font (#F26376, 16px, 400);
        cursor: pointer;
        background: white;
        border-style: solid;

        &:hover {
            color: white;
            background: $pink;
            transition: background-color 1s linear;
        }
        
        &:active {
            color: white;
            background: $pink;
            transform: scale(0.95);
        }
    }
}

.features__items {
    @include justify_align_center ();
    gap: 30px;
    background-color: #222224;

    .feature {
        width: 360px;
        padding: 104px 0;

        .feature__img {
            padding-bottom: 19px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .features__title {
            padding-bottom: 16px;
            text-align: center;
            @include font (#FBFBFB, 20px, 400);
        }
        
        .features__subtitle {
            text-align: center;
            @include font (#FBFBFB, 16px, 300);
        }   
    }
}

.reviews__items {
    position: relative;
    display: flex;

    .rev__back {
        opacity: 30%;
        width: 100%;
    }

    .rev__item {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        @include justify_center ();
        gap: 223px;

        .feedback {
            padding-top: 97px;
            width: 360px;

            .user__photo {
                padding-bottom: 30px;
                display: block;
                margin-left: auto;
                margin-right: auto
            }
            
            .feedback__text {
                text-align: center;
                @include font (#222224, 20px, 400);

                .text__ital {
                    font-style: italic;
                }
            }
        }

        .subscribe {
            width: 557px;
            padding-top: 150px;
            @include align_center ();
            flex-direction: column;
            gap: 32px;

            .subscribe__text {
                .sub__title {
                    color: #222224;
                    text-align: center;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 167.2%;
                }
                
                .sub__subtitle {
                    color: #222224;
                    text-align: center;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 167.2%;
                }
            }

            .review__btn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 49px;
                width: 356px;
                background-color: #E1E1E1;
                border-radius: 25px;

                .input__subscribe {
                    padding-left: 22px;

                    .sub__text {
                        background-color: #E1E1E1;
                        border: none;
                        outline: none;
                        font-family: 'Lato', sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        width: 170px;
                        height: 36px;
                    }
                }

                .subscribe__button {
                    .sub__button {
                        width: 100px;
                        height: 49px;
                        @include font (white, 14px, 400);
                        text-align: center;
                        font-family: 'Lato', sans-serif;
                        background: #F16D7F;
                        cursor: pointer;
                        border: none;
                        border-top-right-radius: 25px;
                        border-bottom-right-radius: 25px;

                        &:hover {
                            background: #E05C6E;
                            transition: background-color .5s linear;
                        }

                        &:active {
                            background: #E05C6E;
                            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
                        }
                    }
                }
            }
        }
    }
}

input::-webkit-input-placeholder {
    color: #222224;
}

.footer__inner {
    height: 79px;
    background-color: #222224;
    @include justify_align_center ();
    gap: 655px;

    .rights {
        width: 332px;
        @include font (#FBFBFB, 16px, 400);
    }

    .social__links {
        .links {
            @include justify_align_center ();
            list-style: none;
            gap: 7px;
        }
    }
}

.link {
    width: 32px;
    height: 32px;
    background-color: white;
    @include justify_align_center ();

    &:hover {
        background-color: $pink;
        transition: background-color 1s linear;
    }

    &:hover path {
        fill: white;
    }
}

@import './helper/media_1024.scss';

@import './helper/media_767.scss';