* {
  margin: 0;
  padding: 0;
}

html {
  height: -webkit-fill-available;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  min-height: -webkit-fill-available;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  overflow-x: clip;
  position: relative;
}

.header__inner {
  display: flex;
  justify-content: center;
  height: 75px;
  background-color: #222;
  gap: 54%;
}
.header__inner .header__logo {
  display: flex;
  gap: 41px;
}
.header__inner .header__logo .header__img {
  display: flex;
  align-items: center;
}
.header__inner .header__nav {
  display: flex;
  align-items: center;
}
.header__inner .header__nav .nav {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 33px;
}
.header__inner .menu__nav {
  width: 232px;
  background: #FFF;
  position: absolute;
  top: 75px;
  right: -232px;
  transition: right 1s;
  z-index: 1;
}
.header__inner .menu__nav .menu__nav__content {
  padding: 32px;
}
.header__inner .menu__nav .menu__nav__content .menu__nav__title {
  padding-bottom: 24px;
  color: black;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header__inner .menu__nav .menu__nav__content .man__woman__kids {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.search {
  padding-top: 27px;
}

.menu {
  cursor: pointer;
}

#nav__toggle:checked ~ .menu__nav {
  right: 0;
}

.menu__nav__title__link {
  text-decoration: none;
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu__nav__links {
  list-style: none;
  padding-top: 12px;
  padding-left: 22px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.n__l {
  text-decoration: none;
  color: #6F6E6E;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.n__l:hover {
  color: #F16D7F;
}

.description {
  background-color: #F1E4E6;
  display: flex;
  height: 100%;
  margin-bottom: 65px;
}
.description .description__img {
  display: flex;
  width: 50%;
  padding-right: 4%;
}
.description .description__img .descr__img {
  width: 100%;
  height: 100%;
}
.description .description__text {
  width: 405px;
  height: 93px;
  display: flex;
  gap: 16px;
  padding-top: 18.1%;
}
.description .description__text .rect {
  width: 12px;
  height: 93px;
  background-color: #F16D7F;
}
.description .description__text .main__title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.description .description__text .main__title .title {
  color: #222;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.description .description__text .main__title .lux {
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.description .description__text .main__title .lux .fashion {
  color: #F16D7F;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.products {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  margin-bottom: 96px;
}
.products .prod__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.products .prod__items .products__little__one {
  width: 100%;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/Layer_43.png);
  background-size: cover;
  background-position: center;
}
.products .prod__items .products__little__two {
  width: 100%;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/Rectangle_30.png);
  background-size: cover;
  background-position: center;
}
.products .prod__items .products__little__three {
  width: 100%;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/Rectangle_31.png);
  background-size: cover;
  background-position: center;
}
.products .prod__items .products__big {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), url(img/Rectangle_20.png);
  grid-column-start: span 3;
  background-size: cover;
  background-position: center;
}

.prod__text {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.prod__span {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
}

.featured__items__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 48px;
}
.featured__items__text .featured__items__title {
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.featured__items__text .featured__items__subtitle {
  color: #9F9F9F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.items {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
  margin-bottom: 48px;
}
.items .items__wrap {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
}
.items .items__wrap .item {
  width: 360px;
}
.items .items__wrap .item .item__img {
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items .items__wrap .item .item__img__2 {
  height: 420px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items .items__wrap .item .item__img__2 .temp {
  width: 360px;
  height: 420px;
  background-color: #F7E4E2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items .items__wrap .item .item__description {
  background-color: #F8F8F8;
}
.items .items__wrap .item .item__description .item__desc__info {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.items .items__wrap .item .item__description .item__desc__info .item__title {
  color: black;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.items .items__wrap .item .item__description .item__desc__info .item__subtitle {
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 315px;
}
.items .items__wrap .item .item__description .item__desc__info .item__price {
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@keyframes fadein {
  1% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.items .items__wrap .item:hover .hov__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  animation-name: fadein;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
.items .items__wrap .item:hover .img__hover {
  filter: brightness(35%);
  transition: 1s;
}
.items .items__wrap .item:hover .temp {
  opacity: 0.35;
  transition: 1s;
}

.hov__button {
  position: absolute;
  display: none;
  width: 139px;
  height: 44px;
  border-style: solid;
  cursor: pointer;
  border-color: white;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Lato", sans-serif;
  background-color: transparent;
  opacity: 0;
}
.hov__button:active {
  transform: scale(0.95);
}

.items__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 95px;
}
.items__button .button {
  width: 212px;
  height: 48px;
  border-color: #FF6A6A;
  font-family: "Lato", sans-serif;
  color: #F26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  background: white;
  border-style: solid;
}
.items__button .button:hover {
  color: white;
  background: #F16D7F;
  transition: background-color 1s linear;
}
.items__button .button:active {
  color: white;
  background: #F16D7F;
  transform: scale(0.95);
}

.features__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #222224;
}
.features__items .feature {
  width: 360px;
  padding: 104px 0;
}
.features__items .feature .feature__img {
  padding-bottom: 19px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.features__items .feature .features__title {
  padding-bottom: 16px;
  text-align: center;
  color: #FBFBFB;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.features__items .feature .features__subtitle {
  text-align: center;
  color: #FBFBFB;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.reviews__items {
  position: relative;
  display: flex;
}
.reviews__items .rev__back {
  opacity: 30%;
  width: 100%;
}
.reviews__items .rev__item {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  gap: 223px;
}
.reviews__items .rev__item .feedback {
  padding-top: 97px;
  width: 360px;
}
.reviews__items .rev__item .feedback .user__photo {
  padding-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.reviews__items .rev__item .feedback .feedback__text {
  text-align: center;
  color: #222224;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.reviews__items .rev__item .feedback .feedback__text .text__ital {
  font-style: italic;
}
.reviews__items .rev__item .subscribe {
  width: 557px;
  padding-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}
.reviews__items .rev__item .subscribe .subscribe__text .sub__title {
  color: #222224;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}
.reviews__items .rev__item .subscribe .subscribe__text .sub__subtitle {
  color: #222224;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}
.reviews__items .rev__item .subscribe .review__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 49px;
  width: 356px;
  background-color: #E1E1E1;
  border-radius: 25px;
}
.reviews__items .rev__item .subscribe .review__btn .input__subscribe {
  padding-left: 22px;
}
.reviews__items .rev__item .subscribe .review__btn .input__subscribe .sub__text {
  background-color: #E1E1E1;
  border: none;
  outline: none;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 170px;
  height: 36px;
}
.reviews__items .rev__item .subscribe .review__btn .subscribe__button .sub__button {
  width: 100px;
  height: 49px;
  color: white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  font-family: "Lato", sans-serif;
  background: #F16D7F;
  cursor: pointer;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.reviews__items .rev__item .subscribe .review__btn .subscribe__button .sub__button:hover {
  background: #E05C6E;
  transition: background-color 0.5s linear;
}
.reviews__items .rev__item .subscribe .review__btn .subscribe__button .sub__button:active {
  background: #E05C6E;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

input::-webkit-input-placeholder {
  color: #222224;
}

.footer__inner {
  height: 79px;
  background-color: #222224;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 655px;
}
.footer__inner .rights {
  width: 332px;
  color: #FBFBFB;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__inner .social__links .links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 7px;
}

.link {
  width: 32px;
  height: 32px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link:hover {
  background-color: #F16D7F;
  transition: background-color 1s linear;
}
.link:hover path {
  fill: white;
}

@media (max-width: 1024px) {
  .header__inner {
    height: 74px;
    gap: 55%;
  }
  .description .description__text .main__title .title {
    font-size: 44px;
  }
  .description .description__text .main__title .lux {
    font-size: 24px;
  }
  .description .description__text .main__title .lux .fashion {
    font-size: 24px;
  }
  .description .description__text .rect {
    height: 92px;
  }
  .description .description__text {
    width: 311px;
    height: 92px;
  }
  .description .description__img {
    padding-right: 5%;
  }
  .products .prod__items .products__little__one {
    width: 232px;
    height: 168px;
  }
  .products .prod__items .products__little__two {
    width: 232px;
    height: 168px;
  }
  .products .prod__items .products__little__three {
    width: 232px;
    height: 168px;
  }
  .products .prod__items .products__big {
    width: 735px;
    height: 116px;
  }
  .products {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
    margin-bottom: 110px;
  }
  .products .prod__items {
    grid-gap: 19px;
  }
  .featured__items__text {
    gap: 3.3px;
    margin-bottom: 73px;
  }
  .items {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
    margin-bottom: 33px;
  }
  .items .items__wrap {
    grid-gap: 16px;
  }
  .items__button {
    margin-bottom: 65px;
  }
  .features__items {
    flex-direction: column;
    gap: 49px;
  }
  .features__items .feature {
    padding: 0;
  }
  .features__items .feature:first-child {
    padding-top: 48px;
  }
  .features__items .feature:last-child {
    padding-bottom: 64px;
  }
  .reviews__items .rev__back {
    width: auto;
    height: 693px;
    margin: 0 -420px;
  }
  .reviews__items {
    width: 100%;
    height: 614px;
  }
  .reviews__items .rev__item {
    flex-direction: column;
    align-items: center;
    gap: 75px;
  }
  .reviews__items .rev__item .feedback {
    padding-top: 64px;
  }
  .reviews__items .rev__item .subscribe {
    padding-top: 0;
    gap: 27px;
  }
  .footer__inner {
    gap: 305px;
  }
  .footer__inner .rights {
    width: 251px;
  }
  .reviews__items .rev__item .subscribe .subscribe__text .sub__title {
    line-height: 162%;
  }
  .reviews__items .rev__item .subscribe .subscribe__text .sub__subtitle {
    line-height: 162%;
  }
}
@media (max-width: 767px) {
  .header__inner {
    gap: 53%;
  }
  .login {
    display: none;
  }
  .basket {
    display: none;
  }
  .description .description__img {
    display: none;
  }
  .description .description__text {
    padding-top: 0;
    width: 100%;
    height: 363px;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .description .description__text .main__title .title {
    font-size: 38px;
  }
  .description .description__text .main__title .lux {
    font-size: 20px;
  }
  .description .description__text .main__title .lux .fashion {
    font-size: 20px;
  }
  .description .description__text .rect {
    height: 61px;
  }
  .products .prod__items .products__little__one {
    width: 344px;
    height: 249px;
  }
  .products .prod__items .products__little__two {
    width: 344px;
    height: 249px;
  }
  .products .prod__items .products__little__three {
    width: 344px;
    height: 249px;
  }
  .products .prod__items .products__big {
    width: 344px;
    height: 111px;
    grid-column-start: auto;
  }
  .products {
    padding-left: calc(50% - 172px);
    padding-right: calc(50% - 172px);
    margin-bottom: 64px;
  }
  .products .prod__items {
    grid-gap: 32px;
    grid-template-columns: repeat(1, 1fr);
  }
  .featured__items__text {
    margin-bottom: 65px;
  }
  .items {
    padding-left: calc(50% - 180px);
    padding-right: calc(50% - 180px);
    margin-bottom: 41px;
  }
  .items__button {
    margin-bottom: 96px;
  }
  .footer__inner {
    flex-direction: column-reverse;
    gap: 40px;
    height: 143px;
    justify-content: normal;
  }
  .reviews__items {
    height: 550px;
  }
  .footer__inner .rights {
    padding-bottom: 9px;
  }
  .reviews__items .rev__item .subscribe .review__btn {
    width: 341px;
    height: 47px;
  }
  .reviews__items .rev__item .subscribe .review__btn .subscribe__button .sub__button {
    width: 96px;
    height: 47px;
  }
  .reviews__items .rev__item .subscribe .subscribe__text .sub__title {
    line-height: 153%;
  }
  .reviews__items .rev__item .subscribe .subscribe__text .sub__subtitle {
    font-size: 14px;
    line-height: 153%;
  }
  .reviews__items .rev__back {
    height: 550px;
  }
  .reviews__items .rev__item {
    gap: 59px;
  }
  .reviews__items .rev__item .feedback .feedback__text {
    font-size: 18px;
  }
  .reviews__items .rev__item .feedback .feedback__text .text__ital {
    font-size: 18px;
  }
  .reviews__items .rev__item .subscribe {
    gap: 22px;
  }
  .features__items {
    gap: 47px;
  }
  .features__items .feature:last-child {
    padding-bottom: 81px;
  }
}/*# sourceMappingURL=style.css.map */